.btn{
    display: flex;
    background-color: #4d1601;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    font-size: bold;
    justify-content: space-around;
    padding: .75rem 3rem;
    align-items: center;
    border: none;
    color:#fff
}